body{
    background: url("img/clay-banks-hwLAI5lRhdM-unsplash.jpg");
    background-repeat: no-repeat;
  background-size: 100%;
     
 }
h1{
    text-align: center;
}

.todos{
    margin: 10px;
}

.card-top{
    text-align: center; 
    font-size: 30px;
}

.card-main{
    text-align: center;
}

.card-col{
    margin-top:10px;
}